:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --primary-bcg: #FFFFFF;
    --secondary-bcg: #F5F4FA;
    --accent-bcg: #2F303A;
}    
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bcg);
    font-family: Roboto, sans-serif;
    font-style: normal;
}
ul {
    list-style: none;
} 
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--title-text-color);
}

/* header+footer */
.page-header {
    background-color: var(--primary-bcg);
}
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--black-color);
}
.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link.current {
    color: var(--accent-color);
}
.contacts-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.contacts-link-bottom:hover,
.contacts-link-bottom:focus {
    color: var(--accent-color);
}

.page-footer {
    background-color: var(--accent-bcg);
}
.accent-bottom {
    color: var(--white-color);
}
.footer-address {
    font-style: inherit;
}
.street {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contacts-link-bottom {
    color: #FFFFFF60;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* index.html+button */
.index-hero {
    background-color: var(--accent-bcg);
}
.index-hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    font-family: inherit;
    cursor: pointer;
}
.primary {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.secondary:hover,
.secondary:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* portfolio.html */
.portfolio-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}